---
layout: default
paginate: 2
paginate_path: "/page/:num/"
---

<div class="post-list">
  {% for post in paginator.posts %}
    <article>
      <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
      <p>{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
    </article>
  {% endfor %}
</div>


{% if paginator.total_pages > 1 %}

<div class="bottompagination">
<div class="pagination">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">
      &laquo; Prev
    </a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}


  {% for page in (1..paginator.total_pages) %}

    {% if page == paginator.page %}
      <span class="current">{{ page }}</span>

    {% elsif page == 1 %}
      <a href="{{ site.baseurl }}/">
        {{ page }}
      </a>

    {% else %}
      <a href="{{ site.baseurl }}/page/{{ page }}/">
        {{ page }}
      </a>

    {% endif %}

  {% endfor %}


  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}">
      Next &raquo;
    </a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}

</div>
</div>

{% endif %}
