


<meta name="yandex-verification" content="273065b2579f6b98" />
<meta name="yandex-verification" content="3b5e1c70785a5b0a" />
<meta name="yandex-verification" content="6eed5ecba3d9b4b6" />
<meta name="yandex-verification" content="774b6787a8d14a7c" />
<meta name="yandex-verification" content="4c9e351cedce8dde" />
<meta name="yandex-verification" content="64cb0d9a0ed1fef2" />
<meta name="yandex-verification" content="e7fb35baf7e27b21" />
<meta name="yandex-verification" content="cec67175f6854b50" />
<meta name="yandex-verification" content="1cd6105a1ed4ec20" />
<meta name="yandex-verification" content="03934fc3de6b5467" />
<meta name="yandex-verification" content="a3ed6f0653fe109f" />
<meta name="yandex-verification" content="0b34dccae64d8038" />
<meta name="yandex-verification" content="2f209512c57aba64" />
<meta name="yandex-verification" content="bca66615de2d1d20" />
<meta name="yandex-verification" content="643e06c7772aa2e9" />
<meta name="yandex-verification" content="4f4fee55e55e6d75" />
<meta name="yandex-verification" content="7ba5eb8471849db7" />
<meta name="yandex-verification" content="85e5160eee04a968" />
<meta name="yandex-verification" content="c4cfc47e7b15d54b" />
<meta name="yandex-verification" content="0136358617060ef7" />
<meta name="yandex-verification" content="711f0f62680f405c" />
<meta name="yandex-verification" content="82a94db80c5be3de" />
<meta name="yandex-verification" content="42c2cdc0c96277ca" />
<meta name="yandex-verification" content="d9c4702af1e80876" />
<meta name="yandex-verification" content="11e17c8a21ab6891" />







<!-- Google tag (gtag.js) - multiple accounts -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WT93W2845E"></script><script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){ dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-WT93W2845E'); // goblog google
  gtag('config', 'G-XHCGVT06EJ'); // raisfazriansyah722@gmail.com
  gtag('config', 'G-L239NSVMTN'); // indrianitresna42@gmail.com
  gtag('config', 'G-VK24YT5M3Z');
  gtag('config', 'G-XK27E9HEDZ'); // r.fazriansyah@gmail.com
  gtag('config', 'G-LJ7MJ4Q2VW'); // raisfazriansyah01@gmail.com
  gtag('config', 'G-W9876DR1JZ'); //asri38770@gmail.com
  gtag('config', 'G-YFK8DZ3FHK'); //raisfazriansyah4@gmail.com
  gtag('config', 'G-5RHX9ESPY6'); //simerah9250@gmail.com
  gtag('config', 'G-59F9MSH3TZ'); //nyolspa1@gmail.com
  gtag('config', 'G-F373NVXTWS'); //boktem78@gmail.com
  gtag('config', 'G-137DJLDD8M'); //jsamsu226@gmail.com
  gtag('config', 'G-ZT95SW0ZHJ'); //ninggrai@gmail.com
</script><script>
(function(w,d,s,l,i){
  w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(), event:'gtm.js'});
  var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s), dl=l!='dataLayer'?'&l='+l:'';
  j.async=true;
  j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
  f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWD665DQ');
</script>
